.mainNav{
  background-color: #002f34;
  padding: 15px 0;
  .navList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1286px;
    margin: 0 auto;
    .item{
      .logo{
        width: 71px;
        height: 40px;
      }
    }
    .rightNav{
      display: flex;
      .item{
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 0 0 80px;
        .link{
          display: flex;
          align-items: center;
          color: #fff;
          text-decoration: none;
          .icon{
            font-size: 24px;
            margin: 0 15px 0 0;
          }
          .icon.arrow{
            margin: 0 0 0 8px;
            font-size: 15px;
          }
          .text{
            font-weight: 500;
            font-size: 16px;
          }
        }
        .link.createAdvertisement{
          background-color: #fff;
          color: #002f34;
          padding: 13px 22px;
          box-shadow: inset 0 0 0 8px #fff;
          border-radius: 4px;
        }
      }
    }
  }
}