.yourAccountTooltip{
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  z-index: 2;
  height: 500px;
  background-color: red;
  animation: showAnimation 0.5s;
}

@keyframes showAnimation {
  from{
    height: 0;
  }
  to{
    height: 500px;
  }
}