.searchButton{
  padding: 25px 0 25px 0;
  width: 14.7%;
  position: relative;
  border: none;
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
  &:hover{
    background-color: #002f34;
    .searchButtonSpan{
      color: white;
    }
    .icon{
      color: white;
    }
  }
  .searchButtonSpan{
    color: #002f34;
    text-decoration: none;
    margin: 0 15px 0 0;
    font-size: 16px;
  }
  .icon{
    position: absolute;
    right: 25px;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
}